{% extends "auctions/layout.html" %}

{% block body %}
    <h2 > {{title}} </h2>
    
    <div class="container">

        <div class="row">

          {% for listing in listings %}
              {% if listing.active == True %}
          <div class="col-md-4">
            <div class="thumbnail">
              <a href= " {% url 'details' listing.id %}" >
                {% if not listing.image_url == "" %}
                  <img src="{{listing.image_url}}" alt="{{listing.title}}" style="width:100%; max-width:250px; max-height:250px;">
                {% else %}
                <img src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg" alt="{{listing.title}}" style="width:100%">
                {% endif %}
                <div class="caption">
                  <h4>{{listing.title}}</h4>
                  <p>
                    {% if not listing.price == 0 %}
                      Price: ${{ listing.price }}
                    {% else %}
                      Starting Bid: ${{ listing.starting_bid }}
                    {% endif %}
                    <br>{{listing.description}}</p>
                </div>
              </a>
            </div>
           </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}